<div class="container wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>Shop Information</h1>
                <p>Smart UI component which allows you to easily create wizard-like interfaces.</p>
                <p><a href="" ng-click="submitShopInfo()" class="btn btn-primary btn-lg" role="button">Submit Details</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>Legal Information</h1>
                <p>Smart UI component which allows you to easily create wizard-like interfaces.</p>
                <p><a href="" ng-click="submitShopLegalInfo()" class="btn btn-primary btn-lg" role="button">Submit Details</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>Application Status</h1>
                <p>Smart UI component which allows you to easily create wizard-like interfaces.</p>
                <p><a href="" ng-click="checkShopStatus()" class="btn btn-primary btn-lg" role="button">Check Status</a>
                </p>
            </div>
        </div>
    </div>
</div>