<div class="passwordBox">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Official Shop Application</h2>
                <p>
                    Enter your Shop Username and Application Shop Code to proceed.
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" ng-submit="validateCode()" no-validate>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Shop Username" ng-model="seller.username">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Shop Code" ng-model="seller.code">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            ShoppyApp
        </div>
        <div class="col-md-6 text-right">
            <small>© 2018</small>
        </div>
    </div>
</div>