<div class="container wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <fieldset>
                <h2>Store Information</h2>
                <form name="submitForm" ng-submit="processForm()" class="p-lg" novalidate autocomplete="off">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.shop_name.$invalid && !submitForm.shop_name.$pristine }">
                                <label>Shop Name <code>*</code></label>
                                <input id="shop_name" ng-model="formData.shop_name" name="shop_name" type="text" class="form-control" ng-minlength="8" required>
                                <p ng-show="submitForm.shop_name.$invalid && !submitForm.shop_name.$pristine" class="help-block text-danger">Shop Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.shop_email.$invalid && !submitForm.shop_email.$pristine }">
                                <label>Shop Email <code>*</code></label>
                                <input id="shop_email" ng-model="formData.shop_email" name="shop_email" type="email" class="form-control" ng-minlength="8" required>
                                <p ng-show="submitForm.shop_email.$invalid && !submitForm.shop_email.$pristine" class="help-block text-danger">Shop Email is required</p>
                                <p ng-show="submitForm.shop_email.$error.email" class="help-block text-danger">Not a valid email address </p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.shop_mobileno.$invalid && !submitForm.shop_mobileno.$pristine }">
                                <label>Shop Mobile No. <code>*</code></label>
                                <input id="shop_mobileno" ng-model="formData.shop_mobileno" name="shop_mobileno" type="text" class="form-control" required>
                                <p ng-show="submitForm.shop_mobileno.$invalid && !submitForm.shop_mobileno.$pristine" class="help-block text-danger">Shop Mobile Number is required</p>
                            </div>
                            <div class="form-group">
                                <label>Shop Website</label>
                                <input id="shop_website" ng-model="formData.shop_website" name="shop_website" type="text" class="form-control">
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.owner_fname.$invalid && !submitForm.owner_fname.$pristine }">
                                <label>Owner First name <code>*</code></label>
                                <input id="owner_fname" name="owner_fname" ng-model="formData.owner_fname" type="text" class="form-control" required>
                                <p ng-show="submitForm.owner_fname.$invalid && !submitForm.owner_fname.$pristine" class="help-block text-danger">First Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.owner_mname.$invalid && !submitForm.owner_mname.$pristine }">
                                <label>Owner Middle name <code>*</code></label>
                                <input id="owner_mname" name="owner_mname" ng-model="formData.owner_mname" type="text" class="form-control" required>
                                <p ng-show="submitForm.owner_mname.$invalid && !submitForm.owner_mname.$pristine" class="help-block text-danger">Middle Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.owner_lname.$invalid && !submitForm.owner_lname.$pristine }">
                                <label>Owner Last name <code>*</code></label>
                                <input id="owner_lname" name="owner_lname" ng-model="formData.owner_lname" type="text" class="form-control" required>
                                <p ng-show="submitForm.owner_lname.$invalid && !submitForm.owner_lname.$pristine" class="help-block text-danger">Last Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.owner_email.$invalid && !submitForm.owner_email.$pristine }">
                                <label>Owner Email <code>*</code></label>
                                <input id="owner_email" name="owner_email" ng-model="formData.owner_email" type="text" class="form-control" required>
                                <p ng-show="submitForm.owner_email.$error.email" class="help-block text-danger">Not a valid email address </p>
                                <p ng-show="submitForm.owner_email.$invalid && !submitForm.owner_email.$pristine" class="help-block text-danger">Email Address is required</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label>Store Official Logo <code>*</code></label>
                            <div class="input-group image-preview">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="details.c_image"> <span class="glyphicon glyphicon-remove"></span> Clear
                                </button>
                                <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                    <input type="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" name="file" ng-model="logoFile" ngf-max-size="5MB" ngf-select="upload($files)" ngf-model-invalid="errorFile">
                                </div>
                                </span>
                            </div>
                        </div>
                            <div class="form-group">
                                <img alt="image" class="img-responsive" ngf-src="logoFile || '../_assets/images/icon-no-image.svg'" width="300px" ng-if="logoFile">
                                <img alt="image" class="img-responsive" ngf-src="formData.shop_official_logo || '../_assets/images/icon-no-image.svg'" width="300px" ng-if="formData.shop_official_logo != null && !logoFile">
                            </div>
                        </div>
                    </div>
                    <a ng-click="back()" class="btn btn-default">Return</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="isSaving"><i class="fa fa-spinner fa-spin" ng-if="isSaving"></i> Submit</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>