<div class="container wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <a ng-click="back()" class="btn btn-white btn-sm pull-right">Back</a>
                        <h2>Official Shop Application with {{formData.shop_name}}</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Status:</dt>
                        <dd><span class="label label-{{item.statusClass}}">{{formData.evaluation.eval_categoryID}}</span></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Applied by:</dt>
                        <dd>{{formData.owner_fname}} {{formData.owner_lname}}</dd>
                        <dt>Client:</dt>
                        <dd><a href="" class="text-navy"> {{formData.sellerName}}</a> </dd>
                    </dl>
                </div>
                <div class="col-lg-7" id="cluster_info">
                    <dl class="dl-horizontal">
                        <dt>Last Updated:</dt>
                        <dd>{{formData.evaluation.date | amDateFormat: 'MMM-DD-YYYY hh:mm:ss a'}}</dd>
                        <dt>Applied:</dt>
                        <dd> {{formData.shop_application_date | amDateFormat: 'MMM-DD-YYYY hh:mm:ss a'}} </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>Completed:</dt>
                        <dd>
                            <div class="progress progress-striped active m-b-sm">
                                <div style="width: {{progressCount}}%;" class="progress-bar"></div>
                            </div>
                            <small>Application completed in <strong>{{progressCount}}%</strong>.</small>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <uib-tabset>
                            <uib-tab index="0" heading="Shop Information">
                                <div class="panel-body">
                                    <div class="ibox-content profile-content">
                                        <div class="col-md-6">
                                            <h2><strong>{{formData.shop_name}}</strong></h2>
                                            <h5>Owner First Name</h5>
                                            <p>{{formData.owner_fname}}</p>
                                            <h5>Owner Middle Name</h5>
                                            <p>{{formData.owner_mname}}</p>
                                            <h5>Owner Last Name</h5>
                                            <p>{{formData.owner_lname}}</p>
                                            <h5>Owner Email</h5>
                                            <p>{{formData.owner_email}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Shop Email</h5>
                                            <p>{{formData.shop_email}}</p>
                                            <h5>Shop Mobile No.</h5>
                                            <p>{{formData.shop_mobileno}}</p>
                                            <h5>Shop Website</h5>
                                            <p>{{formData.shop_website}}</p>
                                            <h5>Shop Instagram</h5>
                                            <p>{{formData.shop_instagram}}</p>
                                            <h5>Shop Facebook</h5>
                                            <p>{{formData.shop_facebook}}</p>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Legal Information">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox-content">
                                                <h2>Certificate of Registration File</h2>
                                                <div class="file-box">
                                                    <div class="file" ng-if="formData.shop_cor_file != null">
                                                        <span class="corner"></span>

                                                        <div class="icon">
                                                            <i class="fa fa-file"></i>
                                                        </div>
                                                        <div class="file-name">
                                                            <a href="">{{CORFilename}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox-content">
                                                <h2>Business Distribution License File</h2>
                                                <div class="file-box">
                                                    <div class="file" ng-if="formData.shop_distributor_license != null">
                                                        <span class="corner"></span>
                                                        <div class="icon">
                                                            <i class="fa fa-file"></i>
                                                        </div>
                                                        <div class="file-name">
                                                            <a href="">{{LicenseFilename}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox-content">
                                                <h2>Business Logo</h2>
                                                <div class="file-box">
                                                    <div class="file" ng-if="formData.shop_official_logo != null">
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <img alt="image" class="img-responsive" ng-src="{{formData.shop_official_logo}}">
                                                        </div>
                                                        <div class="file-name">
                                                            <a href="">{{LogoFile}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Last Activity">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-2">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>Activity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in formData.activity">
                                                        <td>
                                                            <span class="label label-{{item.statusClass}}"><i class="fa fa-check"></i> {{item.eval_categoryID}}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{item.date | amDateFormat: 'MMM-DD-YYYY hh:mm:ss a'}}</span>
                                                        </td>
                                                        <td>
                                                            <p class="small" ng-bind-html="item.content"></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>