<div class="container wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <fieldset>
                <h2>Store Legal Information</h2>
                <form name="submitForm" ng-submit="processForm()" class="p-lg" novalidate autocomplete="off">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.shop_cor_number.$invalid && !submitForm.shop_cor_number.$pristine }">
                                <label>Certificate of Registration No. <code>*</code></label>
                                <input id="shop_cor_number" name="shop_cor_number" ng-model="formData.shop_cor_number" type="text" class="form-control" required>
                                <p ng-show="submitForm.shop_cor_number.$invalid && !submitForm.shop_cor_number.$pristine" class="help-block text-danger">C.O.R Number is required</p>
                            </div>
                            <div class="form-group" ng-if="!withCOR">
                                <label>Upload Certificate of Registration file <code>*</code></label>
                                <div class="dropzone dz-clickable drop-box" dropzone="" id="dropzone" ngf-drop="uploadCORFile($files)" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="filePattern">
                                    <div class="dz-default dz-message"><span><strong>Drop files here or click to upload. </strong><br> (Upload Certificate of Registration file. pdf/doc/docx format)</span></div>
                                </div>
                                <div class="help-block text-danger" ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            </div>
                            <div class="form-group" ng-if="withCOR">
                                <label>Upload Certificate of Registration file <code>*</code></label>
                                <div class="attachment">
                                    <div class="file-box" ng-repeat="f in CORFiles">
                                        <div class="file">
                                            <span class="corner"></span>
                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                 <a href="">{{f.name}} </a>
                                                <br><br>
                                                <a title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" ng-click="changeCORFile()"><i class="fa fa-trash-o"></i> Change</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{ 'has-error' : submitForm.shop_distributor_license_number.$invalid && !submitForm.shop_distributor_license_number.$pristine }">
                                <label>Shop Distribution License <code>*</code></label>
                                <input id="shop_distributor_license_number" name="shop_distributor_license_number" ng-model="formData.shop_distributor_license_number" type="text" class="form-control" required>
                                <p ng-show="submitForm.shop_distributor_license_number.$invalid && !submitForm.shop_distributor_license_number.$pristine" class="help-block text-danger">Distribution License is required</p>
                            </div>
                            <div class="form-group">
                                <label>Upload Distribution License file <code>*</code></label>
                                <div class="dropzone dz-clickable" dropzone="" id="dropzone"  ngf-drop="uploadLicenseFile($files)" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="filePattern" ng-if="!withLicense">
                                    <div class="dz-default dz-message"><span><strong>Drop files here or click to upload. </strong><br> (Upload Distribution License file. pdf/doc/docx format)</span></div>
                                </div>
                                <div class="attachment" ng-if="withLicense">
                                    <div class="file-box" ng-repeat="f in LicenseFiles">
                                        <div class="file">
                                            <span class="corner"></span>
                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                 <a href="">{{f.name}} </a>
                                                <br>
                                                <a title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" ng-click="changeLicenseFile()"><i class="fa fa-trash-o"></i> Change</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block text-danger" ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <hr>
                            <div class="form-group" ng-if="formData.shop_cor_file != null">
                                <label>Uploaded Certificate of Registration file <code>*</code></label>
                                <div class="attachment">
                                    <div class="file-box">
                                        <div class="file">
                                            <span class="corner"></span>
                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                 <a href="">{{CORFilename}}</a>
                                                <br><br>
                                                <a title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" ng-click="deleteCORFile()"><i class="fa fa-trash-o"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <hr>
                            <div class="form-group" ng-if="formData.shop_distributor_license != null">
                                <label>Uploaded Distribution License file <code>*</code></label>
                                <div class="attachment">
                                    <div class="file-box">
                                        <div class="file">
                                            <span class="corner"></span>
                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                 <a href="">{{LicenseFilename}}</a>
                                                <br><br>
                                                <a title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" ng-click="deleteBusinessFile()"><i class="fa fa-trash-o"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Store Official Logo <code>*</code></label>
                                <div class="input-group image-preview">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="details.c_image"> <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                    <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                        <input type="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" name="file" ng-model="logoFile" ngf-max-size="5MB" ngf-select="upload($files)" ngf-model-invalid="errorFile">
                                    </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <img alt="image" class="img-responsive" ngf-src="logoFile || '../_assets/images/icon-no-image.svg'" width="300px" ng-if="logoFile">
                                <img alt="image" class="img-responsive" ngf-src="formData.shop_official_logo || '../_assets/images/icon-no-image.svg'" width="300px" ng-if="formData.shop_official_logo != null && !logoFile">
                            </div>
                        </div>
                    </div>
                        <a ng-click="back()" class="btn btn-default">Return</a>
                        <button type="submit" class="btn btn-primary" ng-disabled="isSaving"><i class="fa fa-spinner fa-spin" ng-if="isSaving"></i> Submit</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>