<div class="middle-box text-center animated fadeInDown">
    <h1>THANK YOU</h1>
    <h3 class="font-bold">for submitting the requirements</h3>

    <div class="error-desc">
        All the submitted requirements will be thouroughly reviewed by the ShoppyApp staffs.<br/> You can go back to main page: <br/><a href="http://shopyapp.com/" class="btn btn-primary m-t">Dashboard</a>
    </div>
</div>